{% extends 'base.html' %}
{% macro changing_password(filtered_errors)%}
{% block content %}
<h1 class='mb-3'>Смена пароля</h1>
<form method="POST">
    <div class="mb-3">
        <label for="InputPassword" class="form-label">Старый пароль</label>
        <input type="password" name='old_password'  class="form-control {% if filtered_errors['error_old_password_none'] %}is-invalid{% endif %}" id="InputOldPassword">
        {% if filtered_errors['error_old_password_none'] %}<div class="invalid-feedback">{{ filtered_errors['error_old_password_none']}}</div>{% endif %}
    </div>
    <div class="mb-3">
        <label for="InputPassword" class="form-label">Новый пароль</label>
        <input type="password" name='password'  class="form-control {% if filtered_errors['error_new_password_none'] or filtered_errors['error_password_1'] or filtered_errors['error_password_2'] or filtered_errors['error_password_3'] or filtered_errors['error_password_4'] or filtered_errors['error_password_5'] %}is-invalid{% endif %}" id="InputPassword">
        {% if filtered_errors['error_new_password_none'] %}<div class="invalid-feedback">{{ filtered_errors['error_new_password_none']}}</div>{% endif %}
        {% if filtered_errors['error_password_1'] %}<div class="invalid-feedback">{{ filtered_errors['error_password_1']}}</div>{% endif %}
        {% if filtered_errors['error_password_2'] %}<div class="invalid-feedback">{{ filtered_errors['error_password_2']}}</div>{% endif %}
        {% if filtered_errors['error_password_3'] %}<div class="invalid-feedback">{{ filtered_errors['error_password_3']}}</div>{% endif %}
        {% if filtered_errors['error_password_4'] %}<div class="invalid-feedback">{{ filtered_errors['error_password_4']}}</div>{% endif %}
        {% if filtered_errors['error_password_5'] %}<div class="invalid-feedback">{{ filtered_errors['error_password_5']}}</div>{% endif %}
    </div>
    <div class="mb-3">
        <label for="InputPassword" class="form-label">Повтор пароля</label>
        <input type="password" name='new_password'  class="form-control {% if filtered_errors['error_password_none'] or filtered_errors['error_password'] %}is-invalid{% endif %}" id="InputNewPassword">
        {% if filtered_errors['error_password_none'] %}<div class="invalid-feedback">{{ filtered_errors['error_password_none']}}</div>{% endif %}
        {% if filtered_errors['error_password'] %}<div class="invalid-feedback">{{ filtered_errors['error_password']}}</div>{% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
{% endblock %}
{% endmacro %}